.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  width: 480px;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  height: 64px;
  cursor: pointer;
}

.linkActive {
  color: inherit;
}

.text {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}