.section {
  max-width: 600px;
}

.nav {
  display: flex;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.window {
  height: calc(100vh - 284px);
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.wrapper {
  display: flex;
}

.span {
  height: 48px;
  text-align: center;
}