.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
  position: relative;
}