.section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 320px);
  width: 574px;
  border: 1px solid transparent;
  border-radius: 40px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 490px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.ingredient {
  display: flex;
  align-items: center;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sum {
  display: flex;
  align-items: center;
}